:root {
  --text: #e4eaf0;
  --background: #1e1e1e;
  --background-secondary: #dbdbdb;
}

@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

body {
  font-family: "Inter";
  font-weight: 400;
  background-color: white;
  color: var(--text);
  line-height: 1.75;
  display: grid;
  place-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.section {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  background-color: green;
  width: 90%;
  height: 550px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 50%;
  height: 100%;
  position: relative;
}

.background-image {
  background-image: url("/static/media/pngegg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px; /* Set height for the image container */
}

.right {
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
}

.bg-primary {
  background-color: var(--background);
}

.bg-secondary {
  background-color: var(--background-secondary);
}

.button-primary {
  margin-right: 10px;
  width: 120px;
  height: 45px;
  border: 2px solid white;
  background-color: none;
  border-radius: 8px;
}

.button-secondary {
  margin-right: 10px;
  width: 120px;
  height: 45px;
  border-radius: 8px;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: auto;
  margin-top: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 180px;
  background-color: inherit;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 0;
}

.card img {
  height: 50px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .card-holder {
    justify-content: center;
  }

  .card {
    margin-top: -50px;
    width: 45%;
  }
}
